<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>
    <%= vite_stylesheet_tag 'application', data: { 'turbo-track': 'reload' } %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="bg-gray-100">
    <header>
      <nav class="bg-white shadow-md">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            <div class="flex-shrink-0">
              <%= link_to "MyApp", root_path, class: "text-xl font-bold text-gray-800" %>
            </div>
            <div class="flex items-center space-x-4">
              <% if user_signed_in? %>
                <%= button_to "Logout", destroy_user_session_path, data: { turbo_method: :delete}, class: "text-gray-800 hover:text-gray-500" %>
                <%= link_to "Profile", edit_user_registration_path, class: "text-gray-800 hover:text-gray-500" %>
              <% else %>
                <%= link_to "Login", new_user_session_path, class: "text-gray-800 hover:text-gray-500" %>
                <%= link_to "Sign up", new_user_registration_path, class: "text-gray-800 hover:text-gray-500" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
